<!-- (VPV) Discovery Tool  -->

<!-- styles only for discoveryTool page -->
{{{stylesheet '/assets/css/discoveryTool.css'}}}


<!-- template -->
<section class="layout-block fonts-vpv">

  <!-- copy -->
  <div class="left-block">
    <div class="content">
      <div class="copy">
        <div class="h2 bold">Your Skincare Solution</div>
        <div class="p large">Target your specific concerns with these high-performance, anti-aging cosmeceuticals. Once you select your concerns,
          you can view your recommended products.</div>
        <div>
          TEST
          <a class="face-check one left" data-template="one.html">one</a>
          <a class="face-check two left" data-template="two.html">two</a>
          <a class="face-check three left" data-template="three.html">three</a>
          <a class="face-check four left" data-template="four.html">four</a>
          <a class="face-check five left" data-template="five.html">five</a>
          <a class="face-check six left" data-template="six.html">six</a>
          <a class="face-check seven right" data-template="seven.html">seven</a>
          <a class="face-check eight right" data-template="eight.html">eight</a>
          <a class="face-check nine right" data-template="nine.html">nine</a>
          <a class="face-check ten right" data-template="ten.html">ten</a>
          <a class="face-check eleven right" data-template="eleven.html">eleven</a>
          <a class="face-check twelve right" data-template="twelve.html">twelve</a>
        </div>
      </div>
    </div>
  </div>

  <!-- svg -->
  <div class="face-container">
    {{> components/discoveryTool/svg/fullFace}}
  </div>

  <!-- list -->
  <div class="right-block">

    <!-- concerns -->
    <div class="content">
      <div class="concern">
        <div class="p large">1) Expression Lines</div>
        {{> components/discoveryTool/svg/circle fill="lime" id="1"}}
      </div>
      <div class="concern">
        <div class="p large">2) Crow’s Feet/Fine Lines</div>
        {{> components/discoveryTool/svg/circle id="2"}}
      </div>
      <div class="concern">
        <div class="p large">3) Dark Circles/Puffiness</div>
        {{> components/discoveryTool/svg/circle id="3"}}
      </div>
      <div class="concern">
        <div class="p large">4) Nasolabial Folds/Loss of Volume</div>
        {{> components/discoveryTool/svg/circle id="4"}}
      </div>
      <div class="concern">
        <div class="p large">5) Lip Lines</div>
        {{> components/discoveryTool/svg/circle id="5"}}
      </div>
      <div class="concern">
        <div class="p large">6) Neck</div>
        {{> components/discoveryTool/svg/circle id="6"}}
      </div>
      <div class="concern">
        <div class="p large">7) 40+ Skin</div>
        {{> components/discoveryTool/svg/circle id="12"}}
      </div>
      <div class="concern">
        <div class="p large">8) Sagging Skin</div>
        {{> components/discoveryTool/svg/circle id="8"}}
      </div>
      <div class="concern">
        <div class="p large">9) Dryness/Dehydration</div>
        {{> components/discoveryTool/svg/circle id="9"}}
      </div>
      <div class="concern">
        <div class="p large">10) Discoloration/Brown Spots</div>
        {{> components/discoveryTool/svg/circle id="10"}}
      </div>
      <div class="concern">
        <div class="p large">11) Gentle Resurfacing/Exfoliation/Radiance</div>
        {{> components/discoveryTool/svg/circle id="11"}}
      </div>
      <div class="concern">
        <div class="p large">12) Wrinkles/Sun Damage/Pores</div>
        {{> components/discoveryTool/svg/circle id="7"}}
      </div>
    </div>

    <!-- button -->
    <div class="view-button">
      <div class="h3 color-white">View Recommended Products</div>
    </div>

    <!-- products -->
    <div class="content products-content products-content-hidden">
      <!-- recommended products -->
      <div class="product-grid-list quickshop-enabled interactive-grid" data-quickshop="">
        <div class="product-grid-list-items row-of-two interactive-items">&nbsp;</div>
      </div>
    </div>

    <div class="hide-button">
      <div class="h3 color-white">Back</div>
    </div>

  </div>


  <!-- original tool (hidden) -->
  <div class="page-container">
    <div class="page-content narrow">
      <div class="face-holder">
        <a class="face-check one left" data-template="one.html">&nbsp;</a>
        <a class="face-check two left" data-template="two.html">&nbsp;</a>
        <a class="face-check three left" data-template="three.html">&nbsp;</a>
        <a class="face-check four left" data-template="four.html">&nbsp;</a>
        <a class="face-check five left" data-template="five.html">&nbsp;</a>
        <a class="face-check six left" data-template="six.html">&nbsp;</a>
        <a class="face-check seven right" data-template="seven.html">&nbsp;</a>
        <a class="face-check eight right" data-template="eight.html">&nbsp;</a>
        <a class="face-check nine right" data-template="nine.html">&nbsp;</a>
        <a class="face-check ten right" data-template="ten.html">&nbsp;</a>
        <a class="face-check eleven right" data-template="eleven.html">&nbsp;</a>
        <a class="face-check twelve right" data-template="twelve.html">&nbsp;</a>
      </div>
    </div>
  </div>

</section>