<!-- (VPV) Discovery Tool  -->

<!-- styles only for discoveryTool page -->
{{{stylesheet '/assets/css/discoveryTool.css'}}}


<!-- template -->
<section class="layout-block fonts-vpv">

  <!-- copy -->
  <div class="left-block">
    <div class="content">
      <div class="copy">
        <div class="h2 bold">Your Skincare Solution</div>
        <div class="p large">Target your specific concerns with these high-performance, anti-aging cosmeceuticals. Once you select your concerns,
          you can view your recommended products.</div>
      </div>
    </div>
  </div>

  <!-- svg -->
  <div class="face-container">
    {{> components/discoveryTool/svg/fullFace}}
  </div>

  <!-- list -->
  <div class="right-block">
    <!-- add list of concerns -->
    <!-- add toggle button -->
    <!-- add slide in products view -->
    <div class="content">
      <div class="concern">
        <div class="p large">1) Expression Lines</div>
      </div>

    </div>
    <div class="view-button">
      <div class="h3 color-white">View Recommended Products</div>
    </div>
  </div>


  <!-- original tool (hidden) -->
  <!-- <div class="page-container">
    <div class="page-content narrow">
      <div class="face-holder">
        <a class="face-check one left" data-template="one.html">&nbsp;</a>
        <a class="face-check two left" data-template="two.html">&nbsp;</a>
        <a class="face-check three left" data-template="three.html">&nbsp;</a>
        <a class="face-check four left" data-template="four.html">&nbsp;</a>
        <a class="face-check five left" data-template="five.html">&nbsp;</a>
        <a class="face-check six left" data-template="six.html">&nbsp;</a>
        <a class="face-check seven right" data-template="seven.html">&nbsp;</a>
        <a class="face-check eight right" data-template="eight.html">&nbsp;</a>
        <a class="face-check nine right" data-template="nine.html">&nbsp;</a>
        <a class="face-check ten right" data-template="ten.html">&nbsp;</a>
        <a class="face-check eleven right" data-template="eleven.html">&nbsp;</a>
        <a class="face-check twelve right" data-template="twelve.html">&nbsp;</a>
      </div>
    </div>
  </div> -->

  <!-- recommended products (hidden for now) -->
  <!-- <div class="product-grid-list quickshop-enabled interactive-grid" data-quickshop="" style="display: none">
    <div class="product-grid-list-items row-of-four interactive-items">&nbsp;</div>
  </div> -->

</section>