<!-- (VPV) Discovery Tool  -->

<!-- styles only for discoveryTool page -->
{{{stylesheet '/assets/css/discoveryTool.css'}}}


<!-- template -->
<section class="layout-block fonts-vpv">

  <!-- copy -->
  <div class="left-block">
    <div class="content">
      <div class="copy">
        <div class="h2 bold">Your Skincare Solution</div>
        <div class="p large">Target your specific concerns with these high-performance, anti-aging cosmeceuticals. Once you select your concerns,
          you can view your recommended products.</div>
          
          <!-- concern titles. hidden and can be placed anywhere. -->
          <div hiddenlist style="display: none">
            <div data-title="one.html" class="product-grid-item product-grid-title h3">1. Expression Lines</div>
            <div data-title="one.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="two.html" class="product-grid-item product-grid-title h3">2. Crow’s Feet/ Fine Lines</div>
            <div data-title="two.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="three.html" class="product-grid-item product-grid-title h3">3. Dark Circles/ Puffiness</div>
            <div data-title="three.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="four.html" class="product-grid-item product-grid-title h3">4. Nasolabial Folds/ Loss of Volume</div>
            <div data-title="four.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="five.html" class="product-grid-item product-grid-title h3">5. Lip Lines</div>
            <div data-title="five.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="six.html" class="product-grid-item product-grid-title h3">6. Neck</div>
            <div data-title="six.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="seven.html" class="product-grid-item product-grid-title h3">7. 40+ Skin</div>
            <div data-title="seven.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="eight.html" class="product-grid-item product-grid-title h3">8. Sagging Skin</div>
            <div data-title="eight.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="nine.html" class="product-grid-item product-grid-title h3">9. Dryness/ Dehydration</div>
            <div data-title="nine.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="ten.html" class="product-grid-item product-grid-title h3">10. Discoloration/ Brown Spots</div>
            <div data-title="ten.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="eleven.html" class="product-grid-item product-grid-title h3">11. Gentle Resurfacing/ Exfoliation/ Radiance</div>
            <div data-title="eleven.html" class="product-grid-item product-grid-spacer"></div>

            <div data-title="twelve.html" class="product-grid-item product-grid-title h3">12. Wrinkles/ Sun Damage/ Pores</div>
            <div data-title="twelve.html" class="product-grid-item product-grid-spacer"></div>
          </div>


      </div>
    </div>
  </div>

  <!-- svg -->
  <div class="face-container">
    {{> components/discoveryTool/svg/fullFace}}
  </div>

  <!-- list -->
  <div class="right-block">

    <!-- concerns -->
    <div class="content">
      <div class="concern face-select" data-template="one.html">
        <div class="p large">1) Expression Lines</div>
        {{> components/discoveryTool/svg/circle fill="lime" id="1"}}
      </div>
      <div class="concern face-select" data-template="two.html">
        <div class="p large">2) Crow’s Feet/Fine Lines</div>
        {{> components/discoveryTool/svg/circle id="2"}}
      </div>
      <div class="concern face-select" data-template="three.html">
        <div class="p large">3) Dark Circles/Puffiness</div>
        {{> components/discoveryTool/svg/circle id="3"}}
      </div>
      <div class="concern face-select" data-template="four.html">
        <div class="p large">4) Nasolabial Folds/Loss of Volume</div>
        {{> components/discoveryTool/svg/circle id="4"}}
      </div>
      <div class="concern face-select" data-template="five.html">
        <div class="p large">5) Lip Lines</div>
        {{> components/discoveryTool/svg/circle id="5"}}
      </div>
      <div class="concern face-select" data-template="six.html">
        <div class="p large">6) Neck</div>
        {{> components/discoveryTool/svg/circle id="6"}}
      </div>
      <div class="concern face-select" data-template="seven.html">
        <div class="p large">7) 40+ Skin</div>
        {{> components/discoveryTool/svg/circle id="7"}}
      </div>
      <div class="concern face-select" data-template="eight.html">
        <div class="p large">8) Sagging Skin</div>
        {{> components/discoveryTool/svg/circle id="8"}}
      </div>
      <div class="concern face-select" data-template="nine.html">
        <div class="p large">9) Dryness/Dehydration</div>
        {{> components/discoveryTool/svg/circle id="9"}}
      </div>
      <div class="concern face-select" data-template="ten.html">
        <div class="p large">10) Discoloration/Brown Spots</div>
        {{> components/discoveryTool/svg/circle id="10"}}
      </div>
      <div class="concern face-select" data-template="eleven.html">
        <div class="p large">11) Gentle Resurfacing/Exfoliation/Radiance</div>
        {{> components/discoveryTool/svg/circle id="11"}}
      </div>
      <div class="concern face-select" data-template="twelve.html">
        <div class="p large">12) Wrinkles/Sun Damage/Pores</div>
        {{> components/discoveryTool/svg/circle id="12"}}
      </div>
    </div>

    <!-- button -->
    <div class="view-button">
      <div class="h3 color-white">View Recommended Products</div>
      {{> components/discoveryTool/svg/caratRight}}
    </div>

    <!-- products -->
    <div class="content products-content products-content-hidden">
      <!-- recommended products -->
      <div class="product-grid-list quickshop-enabled interactive-grid" data-quickshop="">
        <div class="product-grid-list-items row-of-two interactive-items">&nbsp;</div>
      </div>
    </div>

    <div class="hide-button">
      <div class="h3 color-white">Back</div>
      {{> components/discoveryTool/svg/caratRight}}
    </div>

  </div>

</section>