<ul class="fonts-vpv breadcrumb-container">
  {{#each this}}
    <li class="breadcrumb-item {{#if @last}}is-active{{/if}}">
      {{#if url}}
        <a href="{{url}}" class="breadcrumb-label p small color-silver">{{name}}</a>
      {{else}}
        <span class="breadcrumb-label p small color-silver">{{name}}</span>
      {{/if}}
      <!-- francine's blog name is blank -->
      {{#if name '===' ''}}
        <a href="{{url}}" class="breadcrumb-label p small color-silver">Francine's Blog</a>
      {{/if}}
    </li>
  {{/each}}
</ul>
