{{#partial "page"}}

    <!--_x000D_
    Start of DoubleClick Floodlight Tag: Please do not remove_x000D_
    Activity name of this tag: Purchase Complete Conversion_x000D_
    URL of the webpage where the tag is expected to be placed at the final Purchase Complete page from http://www.osmotics.com_x000D_
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag._x000D_
    Creation Date: 09/07/2017_x000D_
    -->_x000D_
    <script type="text/javascript">_x000D_
    var axel = Math.random() + "";_x000D_
    var a = axel * 10000000000000;_x000D_
    document.write('<iframe src="https://8169117.fls.doubleclick.net/activityi;src=8169117;type=invmedia;cat=rxg7fzmy;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');_x000D_
    </script>_x000D_
    <noscript>_x000D_
    <iframe src="https://8169117.fls.doubleclick.net/activityi;src=8169117;type=invmedia;cat=rxg7fzmy;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>_x000D_
    </noscript>_x000D_
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->

  <header class="sub-header">
    {{> components/common/breadcrumbs breadcrumbs}}
  </header>

  <section class="layout-block">

    <div class="page-header">
      <h1 class="page-title centered">{{lang 'checkout.order.heading'}}</h1>
    </div>

    <div class="page-container">
      <div class="page-content">
        <p>{{lang 'checkout.order.message'}}</p>
      </div>
    </div>

  </section>

{{/partial}}

{{> layout/base}}
