{{#partial "page"}}

  <header class="sub-header">
    {{> components/common/breadcrumbs breadcrumbs}}
  </header>

  <section class="layout-block">

    <div class="page-header">
      <h1 class="page-title centered">{{page.title}}</h1>
    </div>

    <div class="page-container">
      <div class="page-content narrow rte">

        <!-- DISCOVERY TOOL DEVELOPMENT -->
        <p><span style="font-size: x-large;">Target your specific concerns with these high-performance, anti-aging cosmeceuticals. Check the box next to your area of concern and scroll down to discover your product recommendation. It&rsquo;s as easy as 1, 2, 3.</span></p>
        <hr />
        <div class="face-holder"><a class="face-check one left" data-template="one.html">&nbsp;</a> <a class="face-check two left" data-template="two.html">&nbsp;</a> <a class="face-check three left" data-template="three.html">&nbsp;</a> <a class="face-check four left" data-template="four.html">&nbsp;</a> <a class="face-check five left" data-template="five.html">&nbsp;</a> <a class="face-check six left" data-template="six.html">&nbsp;</a> <a class="face-check seven right" data-template="seven.html">&nbsp;</a> <a class="face-check eight right" data-template="eight.html">&nbsp;</a> <a class="face-check nine right" data-template="nine.html">&nbsp;</a> <a class="face-check ten right" data-template="ten.html">&nbsp;</a> <a class="face-check eleven right" data-template="eleven.html">&nbsp;</a> <a class="face-check twelve right" data-template="twelve.html">&nbsp;</a></div>
        <div class="product-grid-list quickshop-enabled interactive-grid" data-quickshop="">
        <div class="product-grid-list-items row-of-four interactive-items">&nbsp;</div>
        </div>
        <!--  -->







        <!-- UNCOMMENT ALL OF THIS IN PRODUCTION. -->
        <!-- {{{page.content}}}

        {{#if page.feed}}
          <ul class="page-feed">
            {{#each page.feed}}
              <li>
                <h5><a href="{{url}}" target="_blank">{{title}}</a></h5>
                <p>{{{content}}}</p>
              </li>
            {{/each}}
          </ul>
        {{/if}} -->
        <!--  -->
      </div>
    </div>

  </section>

{{/partial}}

{{> layout/base}}
