{{#partial "page"}}

{{#if page.title '===' 'Problem/Solution Discovery Tool DO NOT USE THIS IN PRODUCTION'}}
  <!-- show discovery tool snippet if on discovery tool page -->
  {{> components/discoveryTool/discoveryTool}}
{{else}}
  <!-- else show page template -->
  <header class="sub-header">
    {{> components/common/breadcrumbs breadcrumbs}}
  </header>

  <section class="layout-block">

    <div class="page-header">
      <h1 class="page-title centered">{{page.title}}</h1>
    </div>

    <div class="page-container">
      <div class="page-content narrow rte"> 
          {{{page.content}}}
          {{#if page.feed}}
            <ul class="page-feed">
              {{#each page.feed}}
                <li>
                  <h5><a href="{{url}}" target="_blank">{{title}}</a></h5>
                  <p>{{{content}}}</p>
                </li>
              {{/each}}
            </ul>
          {{/if}}
      </div>
    </div>

  </section>
{{/if}}



{{/partial}}

{{> layout/base}}
