<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
      <circle id="path-1-circle" cx="15" cy="15" r="15"></circle>
      <filter x="-15.0%" y="-15.0%" width="130.0%" height="130.0%" filterUnits="objectBoundingBox" id="filter-3">
          <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
          <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
          <feColorMatrix values="0 0 0 0 0.309803922   0 0 0 0 0.341176471   0 0 0 0 0.349019608  0 0 0 0.3 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <path d="M15,29 C22.7319865,29 29,22.7319865 29,15 C29,7.2680135 22.7319865,1 15,1 C7.2680135,1 1,7.2680135 1,15 C1,22.7319865 7.2680135,29 15,29 Z M15,30 C6.71572875,30 0,23.2842712 0,15 C0,6.71572875 6.71572875,0 15,0 C23.2842712,0 30,6.71572875 30,15 C30,23.2842712 23.2842712,30 15,30 Z" id="path-4-circle"></path>
  </defs>
  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="general/icon/select/face/up">
          <g id="general/icon/select/up">
              <g id="general/fill/brand/white">
                  <mask id="Mask-2-circle" fill="white">
                      <use xlink:href="#path-1-circle"></use>
                  </mask>
                  <g id="Mask-circle">
                      <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-1-circle"></use>
                      <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1-circle"></use>
                  </g>
                  <g mask="url(#Mask-2-circle)" fill="#FFFFFF" id="Rectangle" class="fill-hover">
                      <rect x="0" y="0" width="30" height="30"></rect>
                  </g>
              </g>
              <g id="general/fill/brand/white">
                  <mask id="mask-5-circle" fill="white">
                      <use xlink:href="#path-4-circle"></use>
                  </mask>
                  <use id="Mask-circle" fill="#583A5D" fill-rule="nonzero" xlink:href="#path-4-circle"></use>
                  <g id="general/fill/brand/dark-grey" mask="url(#mask-5-circle)" fill="#37333D">
                      <rect id="Rectangle" x="0" y="0" width="30" height="30"></rect>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>