// discovery tool //

// variables
$transition-1: 0.3s ease-in-out;
$black: #37333D;
$white: #FFFFFF;
$off-white: #FAFBFB;
$blue: #2B7FA0;
$tablet-max: 1039px;
$light-grey: #E6E6E7;
$extra-light-grey: #F5F5F6;

// layout styles only for discovery tool page
.page-container {
  display: none;
}

.main-footer {
  display: none;
}

.main-content {
  transform: none;
}

// hide scroll on body
body {
  &.no-scroll {
    overflow: hidden !important;
  }
}

// .layout-block acting as flex container
.layout-block {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -24px; // not sure why this is needed
  @media screen and (max-width: $tablet-max) {
    flex-wrap: wrap;
    margin-top: 106px;
  }
}

//
.left-block,
.right-block {
  position: relative;
  margin: auto;
  background: $white;
  min-height: calc(100vh - 124px); // screen height minus navbar and banner
  overflow-x: hidden;
}

.left-block {
  width: calc(100% * (3/12));
  @media screen and (max-width: $tablet-max) {
    width: 100%;
    min-height: initial;
    >.content {
      position: relative;
    }
  }
}

.right-block {
  width: calc(100% * (4/12));
  >.content {
    padding-bottom: 84px; // account for .view-button
  }
  @media screen and (max-width: $tablet-max) {
    position: relative;
    width: 100%;
    min-height: initial;
    // height: 450px;
    >.content {
      position: relative;
    }
  }
}

// face container
.face-container {
  position: relative;
  z-index: 1;
  margin: auto;
  background: $off-white;
  width: calc(100% * (5/12)); // height: 100%;
  min-height: calc(100vh - 124px); // screen height minus navbar and banner
  overflow: hidden; // hide overflow from svg scale
  @media screen and (max-width: $tablet-max) {
    width: 100%;
    min-height: initial;
    height: 450px;
  }
  >svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.25, 1.25); // make entire face tool larger
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
}


.copy {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: calc(100% - 48px);
  margin: auto;
  @media screen and (max-width: $tablet-max) {
    top: 0;
    transform: none;
    width: 100%;
    padding: 48px;
  }
}

.concern {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 76px;
  background: $extra-light-grey; // $light-grey;
  border-bottom: 1px solid #E2E2E3;
  cursor: pointer;
  >.p {
    position: relative;
    margin-left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 24px;
    width: calc(100% - 48px);
  }
  >.svg-circle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 24px;
    transform: translateY(-50%);
    .svg-fill-hover {
      fill: $extra-light-grey;
      transition: all $transition-1;
    }
    .svg-circle-outline {
      fill: $black;
      transition: all $transition-1;
    }
    .svg-check {
      opacity: 0;
      transition: all $transition-1;
    }
  }
  &:hover, &.selected {
    >.svg-circle {
      .svg-check {
        opacity: 1;
      }
      .svg-circle-outline {
        fill: $blue;
      }
      .svg-fill-hover {
        fill: $blue;
      }
    }
  }
}


.view-button, .hide-button {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 84px;
  background-color: $blue;
  cursor: pointer;
  > .h3 {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hide-button {
  top: 0;
  bottom: initial;
  background-color: $black;
  color: $white;
  z-index: 5;
  transition: all $transition-1;
  @media screen and (max-width: $tablet-max) {
    // display: none; // debug
    position: fixed;
    z-index: 9;
    margin-top: 106px;
  }
}

// product grid container
.products-content {
  box-sizing: border-box;
  // border: 1px solid black;
  z-index: 4;
  background: $white;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 16%; // 72px;
  padding-right: 16%; // 72px;
  transition: all $transition-1;
  @media screen and (max-width: $tablet-max) {
    width: 100%;
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 8;
    margin-top: 106px;
    // add body { overflow: hidden; } class when open
  }
  &.products-content-hidden {
    transform: translateX(100%);
    pointer-events: none;
    opacity: 0;
    + .hide-button {
      transform: translateX(100%);
      pointer-events: none;
      opacity: 0;
    }
  }
}

// product grid overrides
.product-grid-item-thumbnail {
  background: $extra-light-grey;
}

// //
.circle-hover {
  cursor: pointer;
  transition: all $transition-1;
  g,
  text {
    transition: all $transition-1; 
  }
  text {
    transform: translateY(5px);
  }
  &:hover,
  &.selected {
    g {
      fill: $blue;
    }
    .outline {
      fill: $blue;
    }
    text {
      fill: $white;
    }
  }
}