// discovery tool //

// variables
$transition-circle: 0.3s ease-in-out;
$off-white: #FAFBFB;

// layout styles only for discovery tool page
.page-container {
  display: none;
}

.layout-block {
  padding-top: 0px;
}

//

// face container
.face-container {
  position: relative;
  margin: auto;
  background: rgba(255, 0, 0, 0.15);
  width: calc(100% * (5/12));
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  >svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// .face-svg-bg, .circles-container {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   right: 0;
//   margin: auto;
//   width: 37%;
//   height: 55%;
//   transform: translateY(-50%);
//   background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/Face.svg');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: contain;
// }

// .circles-container {
//   background-image: none;
//   background: rgba(255, 255, 0, 0.15);
// }

// .face-svg {
//   position: absolute;
//   // top: 50%;
//   top: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   width: 100%;
//   // height: 55%;
//   // transform: translateY(-50%);
// }

// .all-circles-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   margin: auto;
//   background: rgba(255, 0, 0, 0.15);
//   width: 379px;
//   height: 278px;
// }

// circle icons
// .circle-container {
//   position: absolute;
//   top: 0;
//   // transform: translateY(-50%);
//   // top: 0;
//   left: 0;
//   // TEST
//   // width: 100%;
//   background: rgba(255, 0, 0, 0.15);
//   // margin-top: -15vh;
//   margin-top: 50%;
//   margin-right: 16.6%;
//   //
//   // width: 30px;
//   height: 30px;
//   >svg {
//     position: absolute;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     cursor: pointer;
//     .fill-hover {
//       transition: all $transition-circle;
//     }
//     &:hover,
//     &.hovered {
//       .fill-hover {
//         fill: #37333D;
//       }
//       +.circle-label {
//         color: white;
//       }
//     }
//   }
//   &.circle-container-right {
//     right: 0;
//     left: initial;
//     >svg {
//       right: 0;
//       left: initial;
//     }
//     >.circle-line {
//       right: 0;
//       margin-right: 30px;
//       left: initial;
//       margin-left: initial;
//     }
//     >.circle-label {
//       right: 0;
//       // left: initial;
//     }
//   }
// }

.circle-line {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 50%;
  left: 0;
  margin-left: 30px;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background: #37333D;
}

.circle-label {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  font-family: 'Karla-Bold' !important;
  font-size: 16px;
  color: #37333D;
  letter-spacing: 1px;
  line-height: 24px;
  transition: all $transition-circle;
}

//
// original styles
.face-holder {
  width: 100%;
  height: 760px;
  background-image: url(/content/images/face.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0 auto;
  position: relative;
}

.face-check {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  cursor: pointer;
}

.face-check:hover {
  background-color: #5e3869;
}

.face-check.active {
  background-color: #5e3869;
}

.face-check.left {
  left: 205px;
}

.face-check.right {
  left: 592px;
}

.face-check.one {
  top: 101px;
}

.face-check.two {
  top: 208px;
}

.face-check.three {
  top: 290px;
}

.face-check.four {
  top: 367px;
}

.face-check.five {
  top: 460px;
}

.face-check.six {
  top: 533px;
}

.face-check.seven {
  top: 68px;
}

.face-check.eight {
  top: 137px;
}

.face-check.nine {
  top: 271px;
}

.face-check.ten {
  top: 407px;
}

.face-check.eleven {
  top: 505px;
}

.face-check.twelve {
  top: 573px;
}

// //

.circle-hover {
  cursor: pointer;
  transition: all 1s ease;
  // transform-origin: 350px 15px;
  g, text {
    transition: all 1s ease;
  }
  text {
    transform: translateY(5px);
  }
  &:hover, &.selected {
    // transform: scale(2, 2);
    g {
      fill: red;
    }
    .outline {
      fill: blue;
    }
    text {
      fill: blue;
    }
  }
}