// discovery tool //

// variables
$transition-circle: 0.3s ease-in-out;
$off-white: #FAFBFB;

// layout styles only for discovery tool page
.page-container {
  display: none;
}

// .layout-block acting as flex container
.layout-block {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(255, 0, 0, 0.1) !important;
}

//
.left-block, .right-block {
  position: relative;
  margin: auto;
  background: rgba(255, 0, 0, 0.25);
  min-height: 100vh;
}

.left-block {
  width: calc(100% * (3/12));
}

.right-block {
  width: calc(100% * (4/12));
}

// face container
.face-container {
  position: relative;
  margin: auto;
  background: rgba(255, 0, 0, 0.15);
  width: calc(100% * (5/12));
  // height: 100%;
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  >svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.copy {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: calc(100% - 48px);
  margin: auto;
}



//
// original styles
.face-holder {
  width: 100%;
  height: 760px;
  background-image: url(/content/images/face.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0 auto;
  position: relative;
}

.face-check {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  cursor: pointer;
}

.face-check:hover {
  background-color: #5e3869;
}

.face-check.active {
  background-color: #5e3869;
}

.face-check.left {
  left: 205px;
}

.face-check.right {
  left: 592px;
}

.face-check.one {
  top: 101px;
}

.face-check.two {
  top: 208px;
}

.face-check.three {
  top: 290px;
}

.face-check.four {
  top: 367px;
}

.face-check.five {
  top: 460px;
}

.face-check.six {
  top: 533px;
}

.face-check.seven {
  top: 68px;
}

.face-check.eight {
  top: 137px;
}

.face-check.nine {
  top: 271px;
}

.face-check.ten {
  top: 407px;
}

.face-check.eleven {
  top: 505px;
}

.face-check.twelve {
  top: 573px;
}

// //

.circle-hover {
  cursor: pointer;
  transition: all 1s ease;
  // transform-origin: 350px 15px;
  g, text {
    transition: all 1s ease;
  }
  text {
    transform: translateY(5px);
  }
  &:hover, &.selected {
    // transform: scale(2, 2);
    g {
      fill: red;
    }
    .outline {
      fill: blue;
    }
    text {
      fill: blue;
    }
  }
}