$white: white;
$black: #37333D;
$blue: #4B93AF;
$transition-1: 0.3s ease-in-out;
// vpv
// DEBUG
body {
  background: $white;
  &.no-scroll-nav {
    overflow: hidden !important;
  }
}

.layout-block {
  background: $white !important;
}

//
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navigation {
  max-width: initial; // full bleed nav instead of 1280
  @media screen and (min-width: 1040px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 32;
  }
}

.navigation-wrap {
  @media screen and (min-width: 1040px) {
    padding-bottom: 0px;
    height: 84px;
  }
}

.nav-menu {
  margin-left: 0px;
}

// hidden on desktop (includes account/cart buttons)
.main-header {
  @media screen and (min-width: 1040px) {
    display: none;
  }
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 40px;
}

// hidden on desktop
.navigation-tier {
  @media screen and (min-width: 1040px) {
    display: none;
  }
}

.nav-main-options {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1039px) {
    // hide on mobile
    display: none;
  }
}

.nav-option {
  position: relative;
  margin-left: 24px;
  top: 50%;
  cursor: pointer;
  user-select: none;
  transition: opacity $transition-1; // opacity: 0.8;
  >p {
    font-size: 18px; // 16px;
    color: #37333D;
    svg {
      transform: scale(0.5, 0.5)
    }
  }
  &.nav-option-open {
    .banner-container {
      display: flex;
    }
    >p {
      svg {
        transform: scale(0.5, 0.5) rotate(180deg);
      }
    }
  }
  &:hover,
  &.nav-option-open {
    opacity: 1;
    >p {
      color: #2B7FA0 !important;
    }
  }
}

// nav dropdown menu
.navigation-dropdown,
.navigation-dropdown-search {
  display: none;
  position: fixed; // max-width: 1280px; // take out for full bleed width
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 104px;
  width: 100%;
  height: calc(100vh - 102px); // background: rgba(255, 0, 0, 0.9);
  background-color: white;
  background-image: linear-gradient(-249deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.98) 22%, rgba(255, 255, 255, 0.99) 79%, rgba(255, 255, 255, 0.93) 100%);
  box-shadow: inset 0 2px 2px 0 rgba(55, 51, 61, 0.15);
  z-index: 31;
  &.navigation-dropdown-open {
    display: block;
  }
}

.navigation-dropdown-search {
  height: 100px; // margin-top: 66px;
  >.navigation-dropdown-content {
    background: #F5F5F5;
  }
}

.navigation-dropdown-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // background: rgba(255, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  overflow: auto; // for short screens
  &.no-pointers {
    pointer-events: none;
    z-index: 4;
  }
}

.navigation-dropdown-column {
  position: relative;
  box-sizing: border-box;
  width: calc((100% / 6) - 24px);
  margin: 24px auto;
  margin-top: 108px; // background: rgba(255, 0, 0, 0.15);
  >ul {
    li {
      line-height: 32px !important;
      opacity: 0.9;
      transition: all $transition-1;
      &:hover {
        opacity: 1;
        color: #2B7FA0 !important;
      }
    }
  }
}

.navigation-dropdown-column-fourth {
  position: relative;
  box-sizing: border-box;
  width: calc((100% / 4) - 24px);
  margin: 24px auto; // background: rgba(0, 0, 255, 0.75);
}

.navigation-dropdown-column-third {
  position: relative;
  box-sizing: border-box;
  width: calc((100% / 3) - 24px); // grid
  margin: 24px auto; // background: rgba(0, 0, 255, 0.75);
  transition: all 0.25s ease-in-out;
  >div {
    position: relative;
    width: calc(100% - 108px);
    margin: auto;
    top: 50%;
    transform: translateY(-50%); // background: rgba(255, 0, 0, 0.5);
  }
}

// main carousel overwrites
.carousel-item {
  img {
    // transform: scale(2.5, 2.5) // take out later, for demonstration purposes on carousel images
  }
}

.carousel-wrap,
.carousel {
  padding: 0px !important;
}

// navigation arrow
.banner-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  display: none;
  height: 19px; // background: blue;
  width: 100%;
}

.svg-container {
  position: relative;
  height: 100%;
}

.svg-container {
  position: relative;
  margin: auto;
  z-index: 3;
  transform: scale(1.075, 1);
  svg {
    // transform: scale(1.15, 1.15);
    transform: translate(-3px, -2px);
  }
}

.nav-border-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 20px;
  background: white;
  margin-top: 49px;
  box-shadow: 0 2px 2px 0 rgba(55, 51, 61, 0.15);
}

.nav-border-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 20px;
  background: white;
  margin-top: 49px;
  box-shadow: 0 2px 2px 0 rgba(55, 51, 61, 0.15);
}

.nav-border-left,
.nav-border-right {
  display: none;
  &.borders-visible {
    display: block;
  }
}

// searchbar
.navigation-searchbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #F5F5F5;
  border: none;
  outline: none;
  z-index: 1;
  padding: 36px;
}

.navigation-search-submit {
  position: absolute;
  height: 24px;
  width: 24px;
  z-index: 2;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 36px;
  user-select: none;
  cursor: pointer;
  @media screen and (max-width: 1039px) {
    margin-top: 28px;
    pointer-events: none;
    width: 18px;
    height: 18px;
  }
}

// page banner overwrites
.page-banner {
  background: #583A5D; // #4B93AF;
  @media screen and (max-width: 1039px) {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.page-banner-inner:last-of-type {
  border-bottom: 1px solid #583A5D; // #4B93AF;
}

// mobile navigation overrides
.nav-menu-item {
  position: relative;
  >a {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    border-top: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: none;
    border-top: none;
  }
  &.nav-menu-item-hidden {
    display: none;
  }
}

.nav-menu-item.menu-open {
  background: rgba(55, 51, 61, 0.06);
}

.nav-menu-item.menu-open>a {
  border-bottom: none;
  border-top: none;
  margin-bottom: 0px; // background: rgba(255, 0, 0, 0.15);
  // background: transparent !important;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-left: 0px;
}

.nav-top-level::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 48px);
  margin-left: 24px;
  height: 1px;
  background: rgba(55, 51, 61, 0.06);
}

.nav-submenu {
  padding-bottom: 0px;
}

.nav-submenu-item {
  background: rgba(55, 51, 61, 0.06);
  >svg {
    display: none;
  }
}

.nav-submenu-item>a {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  margin-right: 24px;
  margin-left: 24px;
  text-transform: none;
}

.nav-second-level-item {
  background: rgba(55, 51, 61, 0.06);
  text-transform: uppercase;
}

.nav-second-level-item::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 48px);
  margin-left: 24px;
  height: 1px;
  background: white
}

.white-line,
.black-line {
  position: relative;
}

.white-line::after,
.black-line::after {
  content: ' ';
  position: absolute;
  width: 24px;
  height: 1px;
  background: white;
  bottom: 0;
  left: 0;
  margin-bottom: -6px;
}

.black-line::after {
  background: #37333D;
}

.navigation-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 36px;
  margin-top: 56px;
  cursor: pointer;
}

// getting started dropdown backgrounds;
.background-image-left,
.background-image-right,
.navigation-link-left,
.navigation-link-right {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  user-select: none;
  pointer-events: none;
}

.background-image-left {
  z-index: 1; // opacity: 0.35;
  left: 0;
  background-color: white; // background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/getStartedLeftThree.png');
  transition: all $transition-1;
}

.background-image-right {
  z-index: 1; // opacity: 0.35;
  right: 0;
  background-color: white; // background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/getStartedRight+Three.png');
  transition: all $transition-1;
}

.navigation-link-left {
  left: 0;
  pointer-events: auto;
  cursor: pointer; // &:hover + .background-image-left {
  // opacity: 0.2;
  // }
  &:hover {
    ~.navigation-dropdown-content {
      .skincare-solution {
        transform: translateX(12px);
      }
    }
  }
}

.navigation-link-right {
  right: 0;
  pointer-events: auto;
  cursor: pointer;
  &:hover {
    ~.navigation-dropdown-content {
      .four-step {
        transform: translateX(12px);
      }
    }
  }
}

// debug for now
// .get-started-dropdown {
//   display: none !important;
// }
// .shop-dropdown {
//   display: none !important;
// }
// .navigation-dropdown-search {
//   display: none !important;
// }
// header tools
.header-tools {
  position: absolute;
  top: 0;
  right: 0;
  background: $white;
  z-index: 99;
  .search-toggle {
    >a {
      display: inline-block !important;
    }
    @media screen and (min-width: 1040px) {
      display: none;
    }
  }
  .cart-count {
    top: -4px;
    left: initial;
    right: 0px;
    margin-right: -12px;
    background: $blue; // background: transparent;
    // @media screen and (max-width: 1039px) {
    //   top: 18px;
    // }
  } // @media screen and (max-width: 1039px) {
  //   display: none;
  // }
  @media screen and (max-width: 1039px) {
    height: 66px;
  }
}

// MOBILE header tools / MOBILE NAVIGATION
.header-tools-inner {
  @media screen and (max-width: 1039px) {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(55, 51, 61, 0.15);
    font-size: 0px !important;
    height: 66px;
    justify-content: flex-end;
    path[fill="currentColor"],
    #Mask,
    #Mask2 {
      fill: #37333D;
    } // .cart-count {
    //   color: #37333D;
    // }
    .account-toggle {
      display: none;
    }
    .search-form-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 66px;
      width: 100%;
      input {
        border: none !important;
        font-size: 16px !important;
        margin-top: 8px;
      }
      background: #F5F5F5 !important;
    }
    .cart-preview-wrap {
      position: fixed;
      z-index: 1;
      width: 100%;
      left: 0;
    } // .cart-count {
    //   // top: 15px;
    //   // pointer-events: none;
    // }
    .visible {
      // mobile cart count when cart visible
      // .cart-count {
      //   top: 12px !important;
      //   left: 16px;
      // }
    }
  }
}

.cart-preview-wrap {
  color: $black !important;
}

.navigation-toggle-mobile-wrapper.close {
  display: none;
}

.navigation-toggle-mobile-wrapper {
  .hamburger-close {
    display: none;
  }
  &.toggle-mobile-open {
    padding-left: 24px !important;
    .hamburger {
      display: none;
    }
    .hamburger-close {
      display: initial
    }
  }
}

//
// .header-branding,
.header-branding {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 99;
  margin-top: -6px;
  &.mobile-only {
    display: none;
  }
  @media screen and (max-width: 1039px) {
    display: none;
    &.mobile-only {
      display: block;
      height: 42px;
      width: 180px;
      margin-top: -20px;
      img {
        height: 42px
      }
    }
  }
}

.mobile-branding {
  // mobile logos
  display: none;
}

.header-tools-item {
  border: none;
  >a {
    font-size: 16px !important;
    padding: 0px;
    margin-right: 48px;
    color: $white;
    svg {
      position: absolute;
      top: 0;
      right: 0; // transform: translate(30px, -4px);
      transform: translate(30px, -2px) scale(0.9, 0.9);
      @media screen and (max-width: 1039px) {
        transform: translate(30px, -4px);
      }
    }
  }
  @media screen and (min-width: 1040px) {
    opacity: 0.9;
    transition: opacity $transition-1;
    &:hover {
      opacity: 1;
    }
  }
  @media screen and (max-width: 1039px) {
    display: block;
    position: relative;
    margin-top: 12px;
    z-index: 99;
    >a {
      font-size: 0px !important;
    }
  }
}



.header-tools-item:last-child {
  @media screen and (max-width: 1039px) {
    margin-left: -12px;
  }
}

// sticky nav 
.page-banner {
  &.navigation-is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .header-tools {
    margin-top: 6px;
    background: transparent;
    @media screen and (max-width: 1039px) {
      display: none;
    }
  }
}

.navigation-wrap {
  box-shadow: 0 2px 2px 0 rgba(55, 51, 61, 0.15);
  &.navigation-is-open {
    position: fixed;
    margin-top: 40px;
    z-index: 99;
    box-shadow: none;
  }
}

// main content block
.main-content {
  // transform: translateY(4px);
  @media screen and (max-width: 1039px) {
    // transform: translateY(66px); // mobile nav space
    margin-top: 106px; // use margin instead
  }
  &.navigation-is-open {
    transform: translateY(40px); // dropdown space
  }
}

.search-underlay {
  position: absolute;
  background: rgba(55, 51, 61, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

svg.nav-option-search {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  right: 0;
  margin-top: 22px;
  @media screen and (max-width: 1039px) {
    margin-top: 6px;
  }
}

[data-menu="search"] {
  >p {
    padding-right: 24px;
  }
}

// mobile navigation
.navigation-wrap {
  @media screen and (max-width: 1039px) {
    margin-top: 106px;
    height: calc(100vh - 84px);
    .navigation,
    .nav-menu {
      width: 100%;
      max-width: 100%;
    }
  }
}

.navigation-tier {
  &.hide-shop-navigation {
    .nav-menu-item:not(.nav-account-item):not(.shop-nav-toggle):not(.nav-top-level):not([get-started-child]) {
      display: none;
    }
  }
}

.nav-top-level {
  background: white;
}

// chevrons for mobile
.nav-menu-item.has-dropdown>a::after {
  display: none;
}

.nav-menu-item.has-dropdown,
.nav-top-level {
  >svg {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 24px;
  }
  &.menu-open,
  &.top-level-open {
    >svg {
      transform: rotate(90deg);
    }
  }
}

// header IA fix
[data-name="About Francine"] {
  display: none !important;
}

// plp fixes
.product-sort-select {
  background-color: transparent !important;
}

.form-select-wrapper {
  background-color: $white !important;
}

// fonts overrides
a.p.small,
#home-banner-text-1,
#home-banner-text-2 {
  font-family: 'Karla-Regular';
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
}

// cart
.cart-toggle {
  >a {
    margin-right: 0px;
  }
  @media screen and (max-width: 1039px) {
    margin-top: 22px;
    margin-right: 10px;
  }
}

.cart-toggle.visible {

  .cart-count {
    top: 0px;
    margin-top: 5px;
    margin-right: -13px;
    @media screen and (max-width: 1039px) {
      margin-top: -8px;
      margin-right: -12px;
    }
  }

  >a {
    span {
      color: $black !important
    }
  }
  .cartIcon {
    margin-top: 12px;
    background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/cartIconBlack.svg');
    @media screen and (max-width: 1039px) {
      margin-left: 3px;
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 1039px) {
    margin-top: 20px;
    margin-right: 8px;
    // mobile svg and positioning when cart visible
    top: 5px !important;
    svg {
      transform: translate(31px, -20px);
    }
  }
  #Mask2,
  #Rectangle-cartIcon {
    fill: $black !important;
  } // .cart-count, .p {
  // color: $black !important;
  // @media screen and (min-width: 1040px) {
  //   padding-left: 16px;
  // }
  // }
  // .cart-count {
  //   top: 19px;
  // }
}

.newsletter-signup-email {
  @media screen and (max-width: 1039px) {
    width: calc(100% - 82px) !important;
  }
}

.newsletter-signup-submit {
  @media screen and (max-width: 1039px) {
    right: initial !important;
    width: initial !important;
  }
}

// sticky wrapper nav 
.is-sticky {
  .navigation-is-open {
    margin-top: 0px;
    .navigation-dropdown {
      height: calc(100vh - 66px) !important;
    }
    .navigation-dropdown,
    .navigation-dropdown-search {
      margin-top: 66px !important;
    }
  }
}

.header-branding-svg {
  position: relative;
  width: 285px;
  height: 60px;
  margin-top: 6px;
  background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/osmotics_logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  @media screen and (max-width: 1039px) {
    height: 36px;
    margin-left: 12px;
  }
}

// hide the meet francine column in nav
[data-name="Meet Francine"] {
  display: none !important;
}

// wrapper class for copyright Rs
.r-text {
  position: relative;
  display: inline-block;
  font-size: 50%;
  transform: translateY(-25%);
  margin-left: 2px;
}

.cartIcon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 4px;
  width: 22px;
  height: 22px;
  background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/cartIconWhite.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media screen and (max-width: 1039px) {
    background-image: url('https://s3-us-west-2.amazonaws.com/osmotics-vpv/cartIconBlack.svg');
    margin-top: 4px;
    margin-right: 2px;
  }
}
