<!-- comment or remove everything in production, except >components/custom -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="http://www.osmotics.com/content/custom.css" media="screen" title="custom">
<script src="http://www.osmotics.com/content/unslider-min.js" charset="utf-8"></script>
<script src="http://www.osmotics.com/content/cookie.js" charset="utf-8"></script>

<!-- production -->
<!-- <script src="http://www.osmotics.com/content/custom.min.js" charset="utf-8"></script> -->

<!-- development -->
{{> components/custom }}

<script src="http://www.osmotics.com/content/custom-core.js" charset="utf-8"></script>
<div id='subscribe-popup'>
    <div class='popup-wrapper' style='width: 80%;height: auto;max-width: 580px;'>
        <div id='close-subscribe-popup'>
            <p>Close</p>
        </div>
        <img style='margin-bottom: -7px;width:100%;' src='https://cdn6.bigcommerce.com/s-29yprjq96w/product_images/uploaded_images/emailpopup.jpg'
        />
        <a href='http://osmotics.us13.list-manage.com/subscribe/post?u=51578a4168acd2c67a09d9edc&id=0afb5b166e' class='button teal join-now-button'>Join Now!</a>
    </div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'osmotics'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write(
        '<iframe src="https://8169117.fls.doubleclick.net/activityi;src=8169117;type=invmedia;cat=f6k9c8sf;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' +
        a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
    <iframe src="https://8169117.fls.doubleclick.net/activityi;src=8169117;type=invmedia;cat=f6k9c8sf;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?"
        width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<script type="text/javascript">
    var currentcustomeremailstencil = '{{customer.email}}';
</script>

<script type="text/javascript">
    // vpv

    var getTemp = setInterval(function () {
        var temp = document.querySelectorAll(
            "a[href='http://www.osmotics.com/problem-solution-discovery-tool-1/']")

        if (!!temp[0]) {
            clearInterval(getTemp)
            temp[0].setAttribute('href', 'http://www.osmotics.com/problem-solution-discovery-tool/')
        }

    }, 150)
</script>​