<footer class="main-footer">
  <div class="fonts-vpv container">

    <!-- vpv -->

    <div class="footer-navigation">
      <h5 class="footer-section-title white-line">Company</h5>
      <ul>
        <li class="footer-navigation-list-item">
          <!-- <a href="/pages/about-us.html">About Us</a> -->
          <a href="/categories/meet-francine.html">Meet Francine</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="/pages/press-awards.html">Press & Awards</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="/pages/store-locator.html">Store Locator</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="/francines-blog">Francine's Blog</a>
        </li>
      </ul>
    </div>

    <div class="footer-navigation">
      <h5 class="footer-section-title white-line">Customer Care</h5>
      <ul>
        <li class="footer-navigation-list-item">
          <a href="/pages/contact-us.html">Contact Us</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="/pages/shipping-returns.html">Shipping & Returns</a>
        </li>
      </ul>
    </div>
    <!--  -->

    <div class="footer-navigation">
      <h5 class="footer-section-title white-line">{{lang 'footer.headings.user_links'}}</h5>
      <ul>
        <!-- vpv -->
        <li class="footer-navigation-list-item">
          <a href="/pages/osmotics-elite.html">Osmotics Elite</a>
        </li>
        <!--  -->
        {{#if settings.gift_certificates_enabled}}
        <li class="footer-navigation-list-item">
          <a href="{{urls.gift_certificate.purchase}}">{{lang 'footer.gift_certificate'}}</a>
        </li>
        {{/if}} {{#if settings.show_wishlist}} {{#if customer}}
        <li class="footer-navigation-list-item">
          <a href="{{urls.account.wishlists.all}}">{{lang 'footer.wishlist'}}</a>
        </li>
        {{/if}} {{/if}} {{#if settings.account_creation_enabled}} {{#if customer}}
        <li class="footer-navigation-list-item">
          <a href="{{urls.account.index}}">{{lang 'footer.your_account'}}</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="{{urls.auth.logout}}">{{lang 'footer.log_out'}}</a>
        </li>
        {{else}}
        <li class="footer-navigation-list-item">
          <a href="{{urls.auth.login}}">{{lang 'footer.log_in'}}</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="{{urls.auth.create_account}}">{{lang 'footer.sign_up'}}</a>
        </li>
        {{/if}} {{/if}}
      </ul>

    </div>

    <div class="footer-currency-selector">
      <p class="footer-currency-selector-title show-for-sr">{{lang 'footer.headings.select_currency'}}</p>
      {{> components/currency-selector is-mobile=true}}
    </div>

    {{#if settings.show_newsletter_box}}
    <div class="footer-navigation footer-newsletter">

      <!-- newsletter -->
      <!-- <h3 class="footer-section-title">{{lang 'newsletter.heading'}}</h3> -->
      <p class="medium">Join our newsletter to get 20% off your first order</p>
      <form class="footer-newsletter-form form" action="//osmotics.us13.list-manage.com/subscribe/post?u=51578a4168acd2c67a09d9edc&amp;id=0afb5b166e"
        method="post">
        <label class="form-label show-for-sr" for="EMAIL">Sign up for emails</label>
        <input class="newsletter-signup-email form-input" id="mce-EMAIL" name="EMAIL" type="email" placeholder="your@email.com">
        <div class="newsletter-signup-submit">
          <input class="submit button" type="submit" value="Join">
        </div>
      </form>
      <!--  -->

      <!-- social media -->
      <div class="footer-social-media">
        {{#each social_media}}
        <a href="{{url}}" class="{{display_name}}" target="_blank">
          <i class="icon-{{display_name}}"></i>
        </a>
        {{/each}}
      </div>
      <!--  -->

    </div>
    {{/if}}

  </div>

  <!-- above the line -->


  <!-- below the line -->

  <div class="fonts-vpv container">


    {{#if theme_settings.theme_copyright}}
    <div class="footer-copyright">
      <p class="utility">{{lang 'footer.credits.copyright' name=settings.store_name}} &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
      </p>
    </div>
    {{/if}}

    <div class="footer-terms">
      <a href="/pages/privacy-policy.html" class="utility">Privacy Policy</a>
      <a href="/pages/terms-of-use.html" class="utility">Terms of Use</a>
    </div>

  </div>

  <!--  -->

</footer>