<div class="banner-container">
    <div class="svg-container">
  
      <svg width="73px" height="25px" viewBox="0 0 73 25" version="1.1">
          <defs>
              <polygon id="path-2b" points="0.202172852 0.0276000977 65.4805542 0.0276000977 65.4805542 21 49 21 33 6 17 21 0.202172852 21"></polygon>
              <filter x="-6.1%" y="-9.5%" width="112.3%" height="138.1%" filterUnits="objectBoundingBox" id="filter-3b">
                  <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                  <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                  <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="caret">
                  <g id="path-2b-link" transform="translate(3.000000, 0.000000)">
                      <g id="path-2b">
                          <use fill="black" fill-opacity="1" filter="url(#filter-3b)" xlink:href="#path-2b"></use>
                          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-2b"></use>
                      </g>
                  </g>
                  <g id="path-2b-link" fill="#FFFFFF" fill-rule="nonzero">
                      <polygon id="path-2b" points="0.792724609 0.273779297 72.536377 0.273779297 72.536377 21 52 21 36 6 20 21 0.792724609 21"></polygon>
                  </g>
              </g>
          </g>
      </svg>
  
      
    </div>
  </div>