
<!-- shop -->
<div class="navigation-dropdown fonts-vpv shop-dropdown" data-menu="shop">
  <div class="navigation-dropdown-content">

    <div class="navigation-dropdown-column">

    </div>


    {{#each categories}}
    <div class="navigation-dropdown-column" data-name="{{name}}">
      <a href="{{url}}">
        <h5 class="black-line">{{name}}</h5>
      </a>
      {{#if children}}
      <ul>
        {{#each children}}
        <a href="{{url}}">
          <li class="p medium">{{name}}
          </li>
        </a>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/each}}


    <div class="navigation-dropdown-column">

    </div>


    <div class="navigation-close-icon" navigation-close-button>
        <svg width="18px" height="18px" viewBox="0 0 18 18">
            <g id="general/icon/x" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-3.000000, -3.000000)" stroke-linecap="square">
                <g id="X" transform="translate(3.000000, 3.000000)" stroke="#5D5D5D">
                    <path d="M0.9,0.9 L17.1,17.1" id="Line-2"></path>
                    <path d="M0.9,17.1 L17.1,0.9" id="Line-2-Copy"></path>
                </g>
            </g>
        </svg>
    </div>


  </div>
</div>

<!-- get started -->
<div class="navigation-dropdown fonts-vpv get-started-dropdown" data-menu="get-started">
  <!-- backgrounds -->
  <div class="background-image-left"></div>
  <div class="background-image-right"></div>

  <!-- text -->
  <div class="navigation-dropdown-content">
    <div class="navigation-dropdown-column-third">
      <div>
        <h1>Your Skincare Solution</h1>
        <p>Find the perfect product for your skin concern</p>
      </div>
    </div>
    <div class="navigation-dropdown-column"></div>
    <div class="navigation-dropdown-column-third">
      <div>
        <h1>4 Step <br /> Regimen</h1>
        <p>Discover your very own Osmotics 4 Step System</p>
      </div>
    </div>
    <div class="navigation-dropdown-column"></div>
  </div>

  <!-- links -->
  <a href="/pages/problem-solution-discovery-tool.html" class="navigation-link-left"></a>
  <a href="/pages/my-4-step-regimen.html" class="navigation-link-right"></a>
</div>

<!-- search -->
<div class="navigation-dropdown-search" data-menu="search">
  <div class="search-underlay"></div>
  <div class="navigation-dropdown-content">

    <form action="{{urls.search}}" class="navigation-search-form">
      <input class="navigation-searchbar" name="search_query" placeholder="{{lang 'header.search'}}">
    </form>

    <svg class="navigation-search-submit" aria-hidden="true" data-prefix="fal" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-2x">
      <path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"
        class=""></path>
    </svg>

  </div>
</div>