<section class="navigation-wrap">
  <nav class="navigation">

      <div class="header-branding">
          {{#if settings.store_logo.image}}
            <a class="header-branding-logo" href="{{urls.home}}">
              <!-- foo -->
              <!-- <img class="header-branding-image" src="{{getImage settings.store_logo.image 'logo'}}" alt="{{settings.store_logo.title}}"> -->
              <div class="header-branding-svg"></div>
            </a>
          {{else}}
            <h1 class="header-branding-text">
              <a href="{{urls.home}}">{{settings.store_logo.title}}</a>
            </h1>
          {{/if}}
        </div>

    <button class="navigation-toggle-mobile-wrapper close">
      <span class="navigation-toggle-mobile">
        <i class="icon-close"></i>
      </span>
    </button>

    <div class="mobile-branding">
      {{#if settings.store_logo.image}}
      <a class="header-branding-logo" href="{{urls.home}}">
        <img class="header-branding-image" src="{{getImage settings.store_logo.image 'logo'}}" alt="{{settings.store_logo.title}}">
      </a>
      {{else}}
      <h1 class="header-branding-text">
        <a href="{{urls.home}}">{{settings.store_logo.title}}</a>
      </h1>
      {{/if}}
    </div>

    <div class="mobile-search-wrapper search-form-wrapper">
      <form class="search-form" action="{{urls.search}}">
        <input class="search-input" name="search_query" placeholder="{{lang 'header.search'}}">
      </form>
    </div>


    <!-- mobile nav -->
    <ul class="navigation-tier nav-menu hide-shop-navigation">


      <!-- shop -->
      <li class="nav-menu-item shop-nav-toggle nav-top-level"><a href="#">Shop</a>
        {{> components/chevron}}
      </li>

      {{#each categories}}
      <li class="nav-menu-item nav-second-level-item {{#if children}}has-dropdown{{/if}}" data-name="{{name}}">
        {{> components/navigation-item}}
      </li>
      {{/each}}
      <!--  -->

      <!-- get started -->

      <li class="nav-menu-item nav-top-level" get-started-toggle><a href="#">Get Started</a>{{> components/chevron}}</li>
      <li class="nav-menu-item nav-menu-item-hidden nav-second-level-item" get-started-child><a href="/pages/problem-solution-discovery-tool.html" data-url="/pages/problem-solution-discovery-tool.html">Your Skincare Solution</a></li>
      <li class="nav-menu-item nav-menu-item-hidden nav-second-level-item" get-started-child><a href="/pages/my-4-step-regimen.html">4 Step Regimen</a></li>

      <!--  -->

      <li class="nav-menu-item nav-top-level"><a href="/categories/about-francine.html">About Us</a></li>

      {{#if settings.account_creation_enabled}}
      <li class="nav-menu-item mobile-list-item nav-account-item nav-top-level">
        {{#if customer}}
        <a href="{{urls.account.index}}">{{lang 'header.logged_in_as' name=customer.name}}</a>
        <a href="{{urls.auth.logout}}">{{lang 'header.log_out' }}</a>
        {{else}}
        <a href="{{urls.auth.login}}">{{lang 'header.log_in'}}</a>
        {{/if}}
      </li>
      {{/if}}

    </ul>

    <!-- vpv -->

    <div class="nav-main-options">

      <!-- <img src="{{getImage settings.store_logo.image 'logo'}}" alt="{{settings.store_logo.title}}"> -->

      <div class="nav-option" data-menu="shop">
        <p>Shop
            <svg width="13px" height="8px" viewBox="0 0 13 8">
                <defs>
                    <polygon id="path-chevron" points="7.28455562 10.8086068 6.21544438 11.860748 0.443565499 5.99577433 6.21966991 0.219669914 7.28033009 1.28033009 2.5564345 6.00422567"></polygon>
                </defs>
                <g id="general/icon/caret/down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-5.000000, -8.000000)">
                    <g id="general/fill/brand/dark-grey" transform="translate(11.750000, 12.250000) rotate(-270.000000) translate(-11.750000, -12.250000) translate(7.750000, 6.250000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-chevron"></use>
                        </mask>
                        <use id="Mask" fill="#5D5D5D" fill-rule="nonzero" transform="translate(3.864061, 6.040209) rotate(-180.000000) translate(-3.864061, -6.040209) " xlink:href="#path-chevron"></use>
                    </g>
                </g>
            </svg>
        </p>
        {{> components/navigation-arrow}}
      </div>

      <div class="nav-option" data-menu="get-started">
        <p>Get Started
            <svg width="13px" height="8px" viewBox="0 0 13 8">
                <defs>
                    <polygon id="path-chevron" points="7.28455562 10.8086068 6.21544438 11.860748 0.443565499 5.99577433 6.21966991 0.219669914 7.28033009 1.28033009 2.5564345 6.00422567"></polygon>
                </defs>
                <g id="general/icon/caret/down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-5.000000, -8.000000)">
                    <g id="general/fill/brand/dark-grey" transform="translate(11.750000, 12.250000) rotate(-270.000000) translate(-11.750000, -12.250000) translate(7.750000, 6.250000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-chevron"></use>
                        </mask>
                        <use id="Mask" fill="#5D5D5D" fill-rule="nonzero" transform="translate(3.864061, 6.040209) rotate(-180.000000) translate(-3.864061, -6.040209) " xlink:href="#path-chevron"></use>
                    </g>
                </g>
            </svg>
        </p>
        {{> components/navigation-arrow-alternate}}
      </div>

      <div class="nav-option">
        <p data-url="/categories/about-francine.html">About Us</p>
        {{> components/navigation-arrow}}
      </div>

      <div class="nav-option" data-menu="search">
        <p>Search</p>
        <svg class="nav-option-search" aria-hidden="true" data-prefix="fal" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-2x">
        <path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"
          class=""></path>
      </svg>
  
      {{> components/navigation-arrow-alternate-alternate}}
      </div>

    </div>

    <!--  -->

    <div class="header-currency-selector">
      {{> components/currency-selector}}
    </div>

    <div class="nav-border-left"></div>
    <div class="nav-border-right"></div>



  </nav>

  <div class="navigation-overlay"></div>

  <!-- vpv -->
  {{> components/navigation-dropdown}}
  <!--  -->

</section>