<div class="banner-container">
  <div class="banner-left"></div>

  <div class="svg-container">
    <svg width="36px" height="22px" viewBox="0 0 36 22">
      <defs>
        <polygon id="path-1" points="0 0 32 0 32 18 16 3 2.5845992e-13 18"></polygon>
        <filter x="-12.5%" y="-11.1%" width="125.0%" height="144.4%" filterUnits="objectBoundingBox" id="filter-2">
          <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
          <feGaussianBlur stdDeviation="0" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
          <feColorMatrix values="0 0 0 0 0.215686275   0 0 0 0 0.2   0 0 0 0 0.239215686  0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
      </defs>
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1280/negative-space-caret" transform="translate(2.000000, 0.000000)">
          <g id="general/box/main-nav">
            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
          </g>
        </g>
      </g>
    </svg>
  </div>

  <div class="banner-right"></div>
</div>