<!-- <div class="navigation-dropdown">
    <div class="navigation-dropdown-content">
      <div class="navigation-dropdown-column"></div>
      <div class="navigation-dropdown-column">content</div>
      <div class="navigation-dropdown-column"></div>
      <div class="navigation-dropdown-column"></div>
      <div class="navigation-dropdown-column"></div>
      <div class="navigation-dropdown-column"></div>
    </div>
</div> -->


<div class="navigation-dropdown">
  <div class="navigation-dropdown-content">
    <div class="navigation-dropdown-column-third">
      <div>
        <h1>Content</h1>
        <p>Content</p>
      </div>
    </div>
    <div class="navigation-dropdown-column"></div>
    <div class="navigation-dropdown-column-third">
      <div>
        <h1>Content</h1>
        <p>Content</p>
      </div>
    </div>
    <div class="navigation-dropdown-column"></div>
  </div>
</div>